
:root{

	--primary: #ea40a4;
	--business: #3a82ee;
	--personal:  var(--primary);
	--light: #eee;
	--dark: #313154;
	--grey: #888;
	--danger: #ff5b57;


	--shadow: 0 ipx 3px rgba(0, 0, 0, 0.1);


	--business-glow: 0px 0px 4px #3a82ee;

}


*{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;

}

input:not([type = "radio"]):not([typr = "checkbox"]), button{

	appearance:  none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;

}

body{

	background: var(--light);
	color: var(--dark);
}

section{

	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

}

h3{

	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4{

	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.greetings .title{
	display: flex;
	*-   -*

}

